<!--
  Generated template for the TablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>table</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <!-- Fotito
  beerCount
  nombre de la mesa -->
  <div>
    <ion-card style="overflow: visible">
      <img src="{{table.picture}}" style="width: 100vw ; height: auto"/>
      <div *ngIf="table.name != null" class="card-title">{{table.name}}</div>
      <div class="card-subtitle">Cervezas tomadas: {{table.beerCount}}</div>
    </ion-card>
    
    <div *ngFor="let user of table.users">
      <ion-item>
        <ion-icon name="body" item-start large></ion-icon>
        <h2>{{user.name}}</h2>
        <ion-icon name="beer" small>{{user.beerCount}}</ion-icon>
      </ion-item>
    </div>
  </div>
</ion-content>
