<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding>


  <ion-grid class="connection" *ngIf="!connection">
    <ion-row padding-bottom>
      <ion-icon style="display: block; position: absolute; left: 47%;" name="warning"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-label text-center >Verifique su Conexión </ion-label>
    </ion-row>
  </ion-grid>

  <div class="login" *ngIf="connection">
    <h1 class="title" text-center>BEERWARS</h1>
    <ion-grid padding-left padding-top padding-right>
      <ion-row style="color: white"> 
        <ion-label text-center>Conectate con</ion-label>
      </ion-row>
      <ion-row>
        <button ion-button block color="facebook" (click)="loginWithFacebook()">
          Facebook
        </button>
      </ion-row>
      <ion-row >
        <button ion-button block color="google" (click)="loginWithGoogle()" >
          Google
        </button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
