<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  
  <ion-grid *ngIf="!connection">
    <ion-row>
      <ion-icon style="display: block; position: absolute; left: 47%;" name="warning"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-label text-center >Verifique su Conexión </ion-label>
    </ion-row>
  </ion-grid>

  <div *ngIf="connection">
    <div padding-top>
      <img class="logo" src="assets/imgs/beerWars.jpg">
    </div>
    <ion-grid padding-left padding-top padding-right>
      <ion-row>
        <button ion-button block color="facebook" (click)="loginWithFacebook()">
          Conectate con Facebook
        </button>
      </ion-row>
      <ion-row >
        <button ion-button block color="google" (click)="loginWithGoogle()" >
          Conectate con Google
        </button>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
