<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding style="background: black;">

  <!-- Fotito
  beerCount
  nombre de la mesa -->
  <div *ngIf="joined && table">
    <ion-card style="overflow: visible">
      <img src="{{table.picture}}" style="width: 100vw"/>
      <div class="card-title">Mesa numero 3</div>
      <!-- <div class="card-title">{{table.name}}</div> -->
      <div class="card-subtitle">Cervezas tomadas: {{table.beerCount}}</div>
      <div *ngFor="let user of table.users">
        <ion-item>
          <ion-icon name="body" item-start large></ion-icon>
          <h2>{{user.name}}</h2>
          <ion-icon name="beer" small>  {{user.beerCount}}</ion-icon>
        </ion-item>
      </div>
    </ion-card>
  </div>

  <button *ngIf="!joined" style="vertical-align: center;" ion-button text-center (click)="joinTable()">Unirse a una mesa</button>

</ion-content>
