<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: black;">

  <!-- Fotito
  beerCount
  nombre de la mesa -->
  <div *ngIf="joined && table">
    <h3>{{table?.name}}</h3>
    <h3>{{table?.beerCount}}</h3>
    <h3>{{table?.id}}</h3>
  </div>

  <button *ngIf="!joined" style="vertical-align: center;" ion-button text-center (click)="joinTable()">Unirse a una mesa</button>
</ion-content>
