<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: black;">

  <!-- Fotito
  beerCount
  nombre de la mesa -->
  <div *ngIf="joined && table">
    <h3>{{table?.name}}</h3>
    <h3>{{table?.beerCount}}</h3>
    <h3>{{table?.id}}</h3>
  </div>
  <h3>{{qrID}}</h3>

  <div *ngIf="!joined" style="padding-top: 2em;">
    <div text-center>
      <h2 >BIENVENIDO</h2>
      <h2 > A</h2>
      <h2 > BEERWARS </h2>
    </div>
    <div style="padding-top: 4em;">
      <button ion-button outline block (click)="scanQR()">Unirse a mesa</button>
    </div>
  </div>
</ion-content>
