page-home {

  .button-bottom {
    vertical-align: bottom;
  }

  .userPic {
    border-radius: 100%;
    width: 45px;
    height: auto;
    
  }

  .footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  ion-item {
    // background: linear-gradient(to top, #37474F, #181c26);

    h2, label, ion-icon{
      color: #fff;
    }

    &:nth-child(2n-1) {
      background: #37474F;
    }

    &:nth-child(2n) {
      background: #455A64;
    }

   
  }


  .my-card .item.item-image {
    width: 100vw;
    margin-left: -10px;
  }

  .my-card.card {
    overflow: visible;
  }

  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      margin: 0;
      width: 100%;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }

  ion-content {
    background: linear-gradient(to bottom, #3a404d, #181c26);
  }

  // ion-content {
  //   background: transparent !important;
  // }
}
